*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* UTILITY CLASSES */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  display: inline-block;
  padding: 1.3rem 2.3rem;
  border: 1px solid var(--secondary-color);
  border-radius: 32px;
  background: var(--secondary-color);
  color: var(--dark-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn:hover {
  background: var(--primary-color);
  color: #fff;
  border-color: #fff;
}

.section {
  margin: 4rem 0;
}

.section-header {
  max-width: 750px;
  margin: 0 auto 3rem;
  text-align: center;
}

.section-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 0.5rem;
}

.section-header p {
  font-size: 1.2rem;
  color: var(--dark-color);
}

.heading-border {
  width: 64px;
  height: 4px;
  background-color: var(--primary-color);
  margin: 0 auto 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 1.75rem;
  background-color: #fff;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}

/* NAVBAR */
.navbar {
  background-color: transparent;
  color: #fff;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  width: 81px;
  height: 32px;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: 600;
}

.navbar a {
  color: #fff;
}

.navbar a:hover {
  color: var(--secondary-color);
}

.navbar i {
  font-size: 1.5rem;
}

/*NAVBAR MOBILE MENU */
.mobile-menu {
  display: none;
}

.navbar .mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.navbar .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.navbar .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.2rem;
}

/* HERO SECTION */
.hero {
  background: #000 url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 11.5rem 2rem 8rem;
  color: #fff;
  position: relative;
  overflow-x: hidden;
}

.hero .hero-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  padding-bottom: 6rem;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 2rem;
}

.hero img {
  width: 100%;
  margin-right: -100px;
}

.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
}

/* LEARN SECTION -> TOPICS */
.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.topic img {
  transition: transform 0.3s ease-in-out;
}

.topic img:hover {
  transform: scale(1.1);
}

.topic h3 {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0;
}

/* COURSE CHAPTER SECTION -> CHAPTER CARDS */
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 1rem 0 4rem;
}

.chapter-cards img {
  width: 130px;
  margin-top: 1rem;
}

.chapter-cards h3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem 0;
}

/* COURSE SUMMARY SECTION */
.summary {
  background-color: var(--light-color);
  color: var(--dark-color);
  padding: 4rem 2rem 5rem;
}

.summary .section-lists {
  background-color: #fff;
  padding: 2rem;
}

.summary .list-header {
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.summary .list-item {
  padding: 1.4rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.summary .list-item:last-of-type {
  border-bottom: none;
}

/* INFO SECTION */
.info-container {
  background-image: url("../images/audience.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: 15%;
  display: flex;
}

.info-left {
  width: 50%;
}

.info-content {
  background-color: var(--primary-color);
  color: #fff;
  flex: 1;
  /* width: 50%; */
  padding: 4rem;
}

.info-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.info-content ul li {
  font-size: 1.2rem;
  line-height: 2;
}

.info-content i {
  margin-right: 0.5rem;
  color: var(--secondary-color);
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1200px) {
  /* HERO SECTION */
  .hero .hero-flex {
    gap: 2rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero img {
    max-width: 500px;
    margin-right: 0;
  }

  /* LEARN SECTION -> TOPICS */
  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 992px) {
  /* NAVBAR */
  .navbar .main-menu-list {
    gap: 1rem;
  }

  /* HERO SECTION */
  .hero {
    text-align: center;
  }

  .hero .hero-flex {
    flex-direction: column;
    padding-bottom: 4rem;
  }

  .hero img {
    max-width: 600px;
    margin-top: 2rem;
  }

  /* LEARN SECTION -> TOPICS */
  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  /* COURSE CHAPTER SECTION -> CHAPTER CARDS */
  .chapter-cards {
    grid-template-columns: 1fr;
  }

  /* INFO SECTION */
  .info-container {
    background-position-x: 20%;
  }
}

@media only screen and (max-width: 768px) {
  /* NAVBAR */
  .main-menu-items {
    display: none;
  }

  .navbar .mobile-menu {
    display: block;
  }

  .navbar .mobile-menu-toggle {
    display: block;
    padding: 10px;
  }

  /* INFO SECTION */
  .info-container {
    flex-direction: column;
  }

  .info-content {
    padding: 2rem;
  }

  .info-content h2 {
    font-size: 1.5rem;
  }

  .info-content p {
    font-size: 1rem;
  }

  .info-left {
    display: none;
  }
}
@media only screen and (max-width: 576px) {
  /* HERO SECTION */
  .hero {
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  .hero h1 {
    font-size: 2.5rem;
  }

  .hero img {
    max-width: 350px;
  }

  /* LEARN SECTION -> TOPICS */
  .topics {
    grid-template-columns: 1fr;
  }

  /* COURSE SUMMARY SECTION */
  .summary .container {
    padding: 0;
  }

  .summary .section-lists {
    padding-inline: 0;
  }
}
